<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<!--<input type="text" [(ngModel)]="name" />-->

<!--<input type="text" #nam [value]="name" (keyup.enter)="prueba($event.targe.value)" [(ngModel)] ="name"/>-->
<input type="text" #nam [value]="name" (keyup.enter)="prueba(nam.value)" [(ngModel)] ="name"/>

<p>
  {{name}}
</p>

<a href="#" class="btn btn-primary">Botton</a>

<br><br><br>

<div class="col-md-6">
  <h2 class="text-center">Listado de notas</h2>
  <ul class="list-group">
    <li class="list-group-item" (click)="viewNote(n)" *ngFor="let n of my_notes">({{n.id}}). {{n.title}}-> {{n.descripcion}} </li>
  </ul>  
  <a class="btn btn-primary btn-block" (click)="addNote()">Nueva Nota</a>
</div>


<div class="col-md-6" *ngIf="show_form">
  <h2 class="text-center">Nueva notas</h2>
  <input type="text" class="form-control" placeholder="Titulo de la nota" [(ngModel)]="note.title" />
  <br />
  <textarea class="form-control" placeholder="Cuerpo de la nota" [(ngModel)]="note.descripcion"></textarea>
  <br />
  <div class="now">
    <div class="col-md-4">
        <a class="btn btn-danger btn-block" *ngIf="editing" (click)="removeNotas()">Delete</a>  
    </div>        
    <div class="col-md-4">
        <a class="btn btn-primary btn-block" (click)="cancel()">Cancelar</a>  
    </div>
    <div class="col-md-4">
        <a class="btn btn-success btn-block" (click)="createNote()">Guardar</a>
    </div>
  </div>
</div>
